<article>
    <div>
        <span>First name: {{first_name}}</span>
        <span>Last Name: {{last_name}}</span>
        <span>Email: {{email}}</span>
        <span>Phone: {{phone_number}}</span>
         <span>Lead Captured: {{format_date created_at}}</span>
    </div>
</article>