<article>
    <a href="/dashboard">&larr; Back to the dashboard</a>
    <h2>Edit Lead</h2>
    <form class="edit-lead-form"> 
    <input name="first_name" type="text" value="{{lead.first_name}}"/>
    <input name="last_name" type="text" value="{{lead.last_name}}"/>
    <input name="email" type="text" value="{{lead.email}}"/>
    <input name="phone" type="text" value="{{lead.phone_number}}"/>
    <button type="submit">Save Lead</button>
     <button type="button" name="delete-lead-btn">Delete</button>
    </form>
    <span>{{lead.created_at}}</span>
</article>
<script src="/javascript/edit-lead.js"></script>
